.logo {
    width: 80px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.main-header {
    background-color: #e7d8b9;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.navigation {
    grid-column-start:3;
    align-self: stretch;
    display: flex;
    flex-direction: row;
}
/* select the <a> inside .navigation */
.navigation a {
    padding: 12pt;
    text-decoration: none;
    color: black;
}
.navigation a:hover {
    background-color: bisque;
}
.banner {
    background-image: url("carrie-borden-CxS26XgJvpQ-unsplash.jpg");
    min-height: 450px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.banner h2 {
    font-size: 300%;
}